<a href="https://colab.research.google.com/github/amirho3eintaghavii/amirho3eintaghavii/blob/main/UniAzad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print ("hello, world")

hello, world

In [3]:
print(""" ali alizade
is best student
 un my class""")

 ali alizade
is best student
 un my class

In [6]:
#print ("print hello world")

In [5]:
# Input the three numbers
num1 = 33
num2 = 28
num3 = 13

# Calculate the average
average = (num1 + num2 + num3) / 3

# Print the result
print("The average is:", average)

The average is: 24.666666666666668

In [8]:
# Input the three numbers
num1 = 33
num2 = 28
num3 = 13

# Calculate the average
average = (num1 + num2 + num3) / 3

# Print the result
print("The average is:", average)
print(num1)
print(num2)
print(num3)
print('first number is{}'.format(num1))
print('first number is{} and second number is {}'.format(num1,num2))

The average is: 24.666666666666668
33
28
13
first number is33
first number is33 and second number is 28

In [10]:
#
x=input()
print(x)

25
25

In [12]:
x=input("enter number")
print(x)

enter number27
27

In [14]:
x=input("enter numbers")
print (x)

enter numbers27 , 2
27 , 2

In [19]:
x=int(input("enter first number "))
y=int(input("enter second number "))
print("The first number is {} and the Second number is {} and sum is: {}" .format(x,y,x+y))

enter first number 10
enter second number 20
The first number is 10 and the Second number is 20 and sum is: 30

In [17]:
x=int(input("tool mostatil ra vared konid " ))
y=int(input("arz mostatil ra vared konid " ))
msahat=x*y
print(msahat)

tool mostatil ra vared konid 2
arz mostatil ra vared konid 3
6

In [25]:
x=int(input("enter number"))
if x>0 :
  print(x)
else :
  print(-1*x)

enter number-10
10

In [32]:
x=int(input("enter first number "))
y=int(input("enter Second number "))
if x>y:
  print(x)
elif x<y:
  print(y)
else:
  print("same")

enter first number 2
enter Second number 2
same

In [36]:
a=[1,2,3,4,5]
print(a)

print(a[0:2])
print(a[:2])
print(a[-1])
print(a[-3:-1])
print(a[:2])
print(a[2:])

[1, 2, 3, 4, 5]
[1, 2]
[1, 2]
5
[3, 4]
[1, 2]
[3, 4, 5]

In [37]:
a[2]=10
a

[1, 2, 10, 4, 5]

In [39]:
for i in range(5):
  print(i)

0
1
2
3
4

In [41]:
for i in range(10,20):
  print(i)

10
11
12
13
14
15
16
17
18
19

In [42]:
for i in range(10,51,3):
  print(i)

10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [43]:
for i in range(100,80,-1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81

In [46]:
numbers=int(input("enter numer "))
result=1
for i in range(1,numbers+1):
  result*=i

print(result)

enter numer 4
24

In [50]:
def factorial():
  numbers=int(input("enter numer "))
  result=1
  for i in range(1,numbers+1):
    result*=i
  print(result)

In [51]:
factorial()

enter numer 10
3628800